@using HermesChat.Helpers
@model HermesModels.MVC.RegistrationModel

@using (Html.BeginForm("Register", "Registration", FormMethod.Post, htmlAttributes: new { @class = "login-form", @align = "center" }))
{
    <h4 class="header">Registration</h4>

    <div class="mid-size center-left">
        @Html.HermesLabelFor(m => m.UserName)
        @Html.HermesTextBoxFor(m => m.UserName)
        @Html.HermesValidationMessageFor(m => m.UserName)

        @Html.HermesLabelFor(m => m.Email)
        @Html.HermesTextBoxFor(m => m.Email)
        @Html.HermesValidationMessageFor(m => m.Email)

        @Html.HermesLabelFor(m => m.Password)
        @Html.HermesTextBoxFor(m => m.Password, type: "Password")
        @Html.HermesValidationMessageFor(m => m.Password)

        @Html.HermesLabelFor(m => m.ConfirmPassword)
        @Html.HermesTextBoxFor(m => m.ConfirmPassword, type: "Password")
        @Html.HermesValidationMessageFor(m => m.ConfirmPassword)

        @Html.HermesSubmitButton("Register!")
    </div>
}