<!DOCTYPE html>
<html>
@RenderSection("scripts", required: false)
@{ 
    var user = User.Claims.FirstOrDefault(c => c.Type == "Username")?.Value;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script>window.rootUrl = '@Url.Content("~/")';</script>
    <script src="@Url.Content("~/bundle/layoutbundle.js")"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/buttons.css" />
    <link rel="stylesheet" href="~/css/positions.css" />
</head>

<body>
    @Html.Hidden("Home", Url.Action("Index", "Home"))
    <nav>
        <a class="hidden-link inner-center" href="~/Chat/">
            <img class="navbar-hermes" src="~/images/Hermess_small.png" />
        </a>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="navbar-right">
                <h1 class="navbar-user">Hello, @user!</h1>
                <div class="dropdown right" id="acc-dropdown">
                    <img class="navbar-account-img" src="~/images/user-acc-icon.png" />
                    <div class="dropdown-content">
                        <a href="" id="acc-manage">Manage account</a> @*FINISH BACKEND + REDIRECT*@
                        <a href="" id="acc-logout">Logout</a> @*FINISH BACKEND + REDIRECT*@
                    </div>
                </div>
            </div>
        }
    </nav>
    <main role="main">
        @RenderBody()
    </main>
</body>

@*<footer class="footer">
        <div class="container">
            &copy; 2019 - AlhambraChat - <a asp-area="" asp-controller="Privacy" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@

</html>
